*{
    margin: 0;
    padding: 0;
}
.Nav-bar{
    display: flex;
    justify-content: flex-end;
    background: linear-gradient(-45deg, #2A20AC, #6861CE);
    padding: 6px;
}
.Nav-bar button{
    background-color: inherit;
    border: none;
    color: white;
    font-size: medium;
    font-weight:200;
    padding: 15px 2px;
}
.Nav-bar button:hover{
    background-color:#2e23c7;
}
body{
    background-color: #f2f2f2 ;
}
.hea h3{
    text-align: center;
    margin-top: 1rem;
    font-size: larger;
    font-family:lato,sans-serif;
    color: #2a2f5b;
    font-weight: 300;
}
.container{
    border: 1px solid rgb(185, 181, 181) ;
    justify-content: center;
    padding: 30px;
    width: 75%;
    margin: 0.4cm 7cm;
    outline: none;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 10px 0px, rgba(0, 0, 0, 0.19) 0px 4px 20px 0px;
    /* text-align: center; */
}
.Bank{
    padding: 20px;
}
.option{
    width: 18.4cm;
    padding:9px 13px;
    border: 1px solid white;
    border-radius: 3.7px;
    outline: none;
    background-color: white;
}
.option:active{
    border: blue;
}
.Bank h4{
    color: #495057;
    font-weight: 550;  
}
.AccountName{
    padding: 20px;
}
.AccountName h4{
    color: #495057;
}
.account{
    width: 18cm;
    padding:9px 7px;
    border: 1px solid white;
    border-radius: 3.7px; 
    outline: none;
}
.account:focus{
    border: #2A20AC;
}
.password{
    padding: 20px;
}
.pass{
    width: 18cm;
    padding:9px 7px;
    border: 1px solid white;
    border-radius: 3.7px; 
    outline: none;
}
.password h4{
    color: #495057;
    font-weight: 550;  
}
.proceed{
    padding: 20px; 
}
.proceed button{
    width: 18cm;
    padding:10px 0;
    border: 1px solid white;
    border-radius: 3.7px; 
    outline: none;
    background-color: #110b94;
    color: white;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
.proceed button:hover{
    background-color: #0500ff;
}
.text p{
    margin-left: 10px;
}
.form{
    text-decoration:none ;
    color: #0500ff;
}
.change{
    text-decoration: none;
    color: #0500ff;
    font-size: large;
    /* text-transform: ; */
}
